body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: white;
  font-family: sans-serif;
}

h1 { margin-top: 20px; }

video, canvas {
  width: 640px;
  height: 480px;
  border: 2px solid white;
  margin-top: 10px;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}
